@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  color-scheme: light dark;
  --bg-color-light: #ffffff;
  --bg-color-dark: #121212;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --primary-color-light: #00bcd4;
  --primary-color-dark: #00acc1;
  --secondary-color-light: #ff9800;
  --secondary-color-dark: #ffb74d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
